

<!-- views/partials/header.ejs -->



 <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        
        
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/relationships">Relationships</a></li>
            <li><p>...</p>/li>
            <li><h3 class="brand-logo">the amazing BEAVERDEX</h3></li>
        </ul>
        </ul>
      </div>
    </nav>
 </div>


<style>
    .container{ padding-bottom:50px; }
</style>





